# This is a basic workflow to help you get started with Actions

name: Static Analysis

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches:
      - main
      - dev
      - release/*
  pull_request:
    branches:
      - main
      - release/*

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "static-analysis"
  static-analysis:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs sonar scanner
      - name: SonarCloud Scan
        # You may pin to the exact commit or the version.
        # uses: SonarSource/sonarcloud-github-action@32ea6119a4bd977dc6307acb6bbbf277152ede95
        uses: SonarSource/sonarcloud-github-action@v1.5
        with:
          # Additional arguments to the sonarcloud scanner
          args: # optional
          # Set the sonar.projectBaseDir analysis property
          projectBaseDir: # optional, default is .